body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(2, 37, 2);
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    border: 1px solid black;
}