body {
    font-size: 12pt;
    background-color: lightgoldenrodyellow;
    color: chocolate;
   
}

h1 {
    color: brown;

}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 50px;
}

button:hover {
    background-color: rgb(201, 201, 201);
}